@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Nunito:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,800;1,900&family=Raleway:wght@100;200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
@layer base {
  html {
    font-family: "Raleway", sans-serif;
    height: 100%;
  }
  body {
    height: 100%;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:focus,
a:visited,
a:active {
  outline: none;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #bc9a6c;
  border-radius: 0.5rem;
  height: 0.4rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -5px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: #bc9a6c;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid white;
  outline: 3px solid #bc9a6c;
  outline-offset: 0.125rem;
  border-radius: 50%;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #bc9a6c;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: #bc9a6c;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #bc9a6c;
  outline: 3px solid #bc9a6c;
  outline-offset: 0.125rem;
}
/* .checkers {
  accent-color: #bc9a6c;
} */

.marquee {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  overflow-x: hidden;
}
.track {
  will-change: transform;
  animation: scroll 10s linear infinite;
}
.track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}

@media (min-width: 768px) {
  .marquee {
    height: 400px;
  }
  .track {
    width: 180%;
  }
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
